.assessment-topbar {
    width: 1250px;
    height: 70px;
    display: flex;
    padding: 20px 20px;
    align-items: flex-start;
    gap: 24px;
    border-radius: 12px 12px 0px 0px;
    border-bottom: 1px solid #DDE5EA;
    background: #FFF;
}
.assessment-text {
    color: #1C4980;
    font-size: 20px;
    font-weight: 600;
    line-height: 140%;
}

.assessment-links {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.assessment-link {
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    padding-bottom: 25px;
}

.assessment-link-current {
    cursor: pointer;
    border-bottom: 3px solid #0073E6;
    padding-bottom: 28px;
    color: #0073E6;
    font-size: 14px;
    font-weight: 600;
}

.myassessments {
    display: flex;
    padding: 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    border-radius: 0px 0px 12px 12px;
    background: #FFF;
}

.assessment-overview-text {
    color: var(--text-100, #1C4980);
    font-size: 18px;
    font-weight: 500;
    line-height: 140%;
}

.assessmentOverview {
    display: flex;
    align-items: flex-start;
    gap: 1px;
    border-radius: 12px;
    border: 1px solid #DADCE0;
}

.assessment-overview {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.candidates, .candidates-source {
    display: flex;
    padding: 16px 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}

.candidates-text,.candidates-source-text {
    color: var(--text-100, #1C4980);
    font-size: 14px;
    font-weight: 600;
    line-height: 140%;
}

.candidates-inner-container,.candidates-source-inner-container {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-right: 70px;
}

.assessment-list {
    width: 1210px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}

.my-assessment-text {
    color: #1C4980;
    font-size: 18px;
    font-weight: 500;
    line-height: 140%;
}

.empty-container {
    width: 1210px;
    height: 150px;
}

