.navbaritem {
    display: flex;
    padding: 10px 15px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6px;
}

.navbaritem-text {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #1c4980;
    font-size: 12px;
    font-weight: 600;
    line-height: 140%; /* 16.8px */
}

.navbaritem-selected {
    display: flex;
    padding: 10px 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6px;
    border-radius: 8px;
    border: 1px solid #0073E6;
    background: #E5F1FC;
}

.navbaritem-text-selectedtext {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: 600;
    line-height: 140%;
    color: #0073E6;
}

.navbaritem-selected svg path {
    fill: #0073E6;
}
